node_modules/
.expo/
.expo-shared/
dist/
web-build/
.DS_Store
*.tsbuildinfo
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode/
*.iml
ios/Pods/
ios/build/
android/build/
android/app/build/
*.apk
*.aab
*.ipa
coverage/
